/* _______________Style aside main & body_________________ */
body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
aside {
  height: 100%;
  width: 30%;
  position: fixed;
  left: 0;
  padding: 0;
  z-index: 99999;
}
main {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 30.9%;
  top: 0;
  overflow-y: scroll;
  box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.753);
}

/* ______________Container head part info______________ */
.container_member {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
  width: 100%;
  background-color: red;
  font-size: 100px;
}

/* _____________ Style children Aside___________________ */

.allInfo {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(media/pexels-kai-pilger-1341279.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ___________Allcard style_________ */
.python {
  height: 270px;
  width: 200px;
  margin: 10px;
}
.python p {
  font-size: 0.7em !important;
}
.profilImg {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#btnMenu {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 99999;
  display: none;
  font-size: 20px;
}
#btncloseAside {
  display: none;
}
@media screen and (max-width: 1100px) {
  #btncloseAside {
    display: inline-block;
  }
  aside {
    display: none;
    width: 40%;
  }
  main {
    width: 100%;
    left: 12px;
  }
  #btnMenu {
    display: inline-block;
  }
}
@media screen and (max-width: 800px) {
  aside {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  aside {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  aside {
    width: 100%;
  }
}
