/* _______________Style aside main & body_________________ */
body,html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
aside {
  height: 100%;
  width: 30%;
  background-color: aqua;
  position: fixed;
  left: 0;
  padding: 0;
}
main {
  width: 70%;
  height: 100%;
  background-color: rgb(122, 57, 160);
  display: flex;
  justify-content: center;
  position: fixed;
  left: 30.9%;
  top: 0;
  overflow-y: scroll;
  box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.753);
}

/* ______________Container head part info______________ */
.container_member {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
  width: 100%;
  background-color: red;
  font-size: 100px;
}

/* _____________ Style children Aside___________________ */

.allInfo {
  background-color: brown;
  height: 70%;
}

/* ___________Allcard style_________ */
.python {
  height: 270px;
  width: 200px;
  margin: 10px;
}
.python p {
  font-size: 0.7em !important;
}
.card-img-top{
  
}